body {
    color: rgb(42, 39, 39);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font-family: 'Roboto';
}
p{
    margin: 0px;
}
.project-title{
    font-size: 4vw;
}

@font-face {
    font-family: 'ConcertOne';
    src: url(/library/ConcertOne-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/library/Roboto-Regular.ttf);
}

section {
    margin-top: 2px;
}

/* ********************************************************* */
/* Section Name */
/* ********************************************************* */
#section-name {
    margin: 1%;
}

#title-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
    row-gap: 40px;
}

#my-name {
    color: rgb(49, 47, 47);
    max-width: 100%;
    font-size: 28vw;
    font-family: 'ConcertOne', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#my-name-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dot {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 5%;
}

#my-occupation {
    font-size: 5vw;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

    
}


/* ********************************************************* */
/* Section Welcome */
/* ********************************************************* */
#section-welcome{
    margin-top: 2%;
    justify-items: center;
    display: grid;
}


#welcome-anim{
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-content: center;
}

#welcome-text {
    font-size: 5vw;
    text-align: center;
}

/* ********************************************************* */
/* Section About */
/* ********************************************************* */
#section-about{
    margin: 3%;   
}

#about-me{
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
}

#about-text {
    text-align: center;
    margin-top: 20px;
    font-size: larger;
    font-size: 5vw;
}
/* ********************************************************* */
/* Section Project */
/* ********************************************************* */

#section-project{
    
}
#project-container{
    
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    grid-row-gap: 5px;
}
#chaos-anim{
    background-color: aquamarine;
}
