body{
    color: rgb(42, 39, 39);
    background: linear-gradient(to bottom, #ffffff, #ffffff);
}

section{
    margin-top: 30px;
}

#my-name{
    font-size: 170px;
    font-family :'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#my-name-sub{
    display: flex;
}


#my-occupation{
    font-size: 40px;
    font-family :'Roboto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    display: grid;
    justify-items: left;
}

#title-container{
    /* background: #000000; */
    display: grid;
    grid-template-columns: 1fr;

}

#main-logo{
    /* background-color: aqua; */
    align-self: center;
}

#welcome-text{
    font-size: larger;
}

#about-text{
    font-size: larger;
}